name: Build Docker Image

on:
  push:
#    branches:
#      - develop # On build l'image Docker à chaque push sur la branche develop/ temporary

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/huby-sm/back:dev # On push l'image sur le registry GitHub
          username: ${{ github.actor }} # On récupère les secrets du repository
          password: {{ secrets.TOKEN }}